* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #3879c4;
}

.para{
    font-size: 8rem; 
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 3rem;
    margin: 20px;
    flex-wrap: wrap;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 600px) {

    h1{
        font-size: 1.5rem;
        height: auto;
        line-height: 3.5rem;
        padding: 0.5rem;
    }

    .choice{
        width: 110px;
        height: 110px;
    }

    .para{
        font-size: 4.5rem;
    }

    .choices{
        gap: 1.5rem;
    }

    .score-board{
        font-size: 1.5rem;
        gap: 2rem;
    }

    #user-score, #comp-score{
        font-size: 2.5rem;
    }

    #msg{
        font-size: 1.2rem;
        padding: 0.7rem;
    }
}